<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label for="length" class="mr-2">Enter length</label>
        <input (input)="onChangeLength($event)" type="number" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox" for="letters">
            <input
              (click)="useLetters()"
              type="checkbox"
              name="letters"
              id="letters"
            />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox" for="numbers">
            <input
              (click)="useNumbers()"
              type="checkbox"
              name="numbers"
              id="numbers"
            />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox" for="symbols">
            <input
              (click)="useSymbols()"
              type="checkbox"
              name="symbols"
              id="symbols"
            />
            Use Symbols
          </label>
        </div>
      </div>

      <button
        [disabled]="!(length && (isLetters || isNumbers || isSymbols))"
        type="submit"
        (click)="submit()"
        class="button is-link is-fullwidth"
      >
        Generate!
      </button>

      <div class="box" *ngIf="password">
        <label for="result" class="mr-2">Your Password</label>
        <input [value]="password" type="text" name="result" id="result" />
      </div>
    </div>
  </div>
</div>
